RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9]+)/?$ profile.php?username=$1 [QSA]
RewriteRule ^settings/account/?$ account.php
RewriteRule ^settings/password/?$ password.php
